---
layout: page
---
<div id="schedule">
<div class="deadline">Subject to change.</div>
<h2>Week 1</h2>

    {% include lecture.html number=1 date="Monday, Aug. 22"  key="introduction" %}
    {% include lecture.html type="lab" number=1 date="Wednesday, Aug. 24"  key="lab_intro_programming" %}
    {% include lecture.html type="lab" number=2 date="Friday, Aug. 26" key="lab_intro_programming_II" %}

    {% include deadline.html due="Homework 0, Introduction" date="Friday, Aug. 26, 11:59pm" %}

<h2>Week 2</h2>

    {% include lecture.html number=2 date="Monday, August 29" key="descriptive_stats" %}
    {% include lecture.html type="lab" number=3 date="Wednesday, August 31" key="lab_data_structures" %}
    {% include lecture.html type="lab" number=4 date="Friday, September 2" key="lab_data_frames" %}

    {% include deadline.html due="Homework 1" date="Friday, September 2, 11:59pm" %}
    
<h2>Week 3</h2>
    Monday: Labor Day
    {% include lecture.html number=3 date="Wednesday, September 7" key="hypothesis_testing" %}
    {% include lecture.html type="lab" number=5 date="Friday, September 9" key="lab_practical_vis" %}
    {% include deadline.html due="Homework 2" date="Friday, September 9, 11:59pm" %}

    <h2>Week 4</h2>
    {% include lecture.html type="lab" number=6 date="Monday, September 12" key="lab_temp_analysis" %}
    {% include lecture.html number=4 date="Wednesday, September 14" key="hypothesis_testing_2" %}
    {% include lecture.html number=5 date="Friday, September 16" key="regression_1" %}


    <h2>Week 5</h2>

    {% include lecture.html number=6 date="Monday, September 19" key="regression_2" %}
    {% include lecture.html type="lab" number=8 date="Wednesday, September 21" key="lab_webscraping" %}
    {% include lecture.html type="lab" number=9 date="Friday, September 23" key="lab_regression" %}

    {% include deadline.html due="Homework 3" date="Friday, September 23, 11:59pm" %}

    <h2>Week 6</h2>

    {% include lecture.html number=7 date="Monday, September 26" key="log_regression" %}
    {% include lecture.html number=8 date="Monday, September 26" key="knearest" %}
    {% include lecture.html number=9 date="Wednesday, September 28" key="decision_trees" %}

    {% include lecture.html type="lab" number=9 date="Friday, September 30" key="lab_apis" %}



    <h2>Week 7</h2>

    {% include lecture.html number=9 date="Monday, October 3" key="svm" %}
    {% include lecture.html number=10 date="Wednesday, October 5" key="neural_networks" %}
    {% include lecture.html type="lab" number=10 date="Friday, October 7" key="lab_svm" %}


    {% include deadline.html due="Homework 4" date="Friday, October 7, 11:59pm" %}

    <h2>Week 8</h2>

    Fall Break

    <h2>Week 9</h2>

    {% include lecture.html number=14 date="Monday, October 17" key="exam_review_views_II" %}
    {% include lecture.html number=15 date="Wednesday, October 19" key="volumes" %}
    {% include lecture.html number=16 date="Friday, October 21" key="volumes" %}

    {% include deadline.html due="Homework 5 and Project Proposal" date="Friday, October 21, 11:59pm" %}

    <h2>Week 10</h2>
    <!-- VIS @ CHICAGO -->
    {% include lecture.html number=17 date="Monday, October 24" key="project_feedback" %}
    {% include lecture.html number=18 date="Wednesday, October 26" key="molecular" %}
    {% include lecture.html number=19 date="Friday, October 28" key="molecular" %}

    {% include deadline.html due="Homework 6" date="Friday, October 28, 11:59pm" %}


    <h2>Week 11</h2>

    {% include lecture.html number=20 date="Monday, October 31" key="filtering_aggregation" %}
    {% include lecture.html number=21 date="Wednesday, November 2" key="tabular" %}
    {% include lecture.html number=22 date="Friday, November 4" key="tabular" %}

    <h2>Week 12</h2>

    {% include lecture.html number=23 date="Monday, November 7" key="isosurfaces" %}
    {% include lecture.html number=24 date="Wednesday, November 9" key="isosurfaces" %}
    {% include lecture.html number=25 date="Friday, November 11" key="flow" %}

    {% include deadline.html due="Project Milestone" date="Friday, November 11, 11:59pm" %}

    <h2>Week 13</h2>
    
    {% include lecture.html number=26 date="Monday, November 14" key="isosurfaces" %}
    {% include lecture.html number=27 date="Wednesday, November 16" key="isosurfaces" %}
    {% include lecture.html number=28 date="Friday, November 18" key="flow" %}

    <h2>Week 14</h2>

    {% include lecture.html number=29 date="Monday, November 21" key="graphs" %}
    {% include lecture.html number=30 date="Wednesday, November 23" key="graphs" %}

    Friday: Thanksgiving Break

    <h2>Week 15</h2>

    {% include lecture.html number=31 date="Monday, November 28" key="graphs" %}
    {% include lecture.html number=32 date="Wednesday, November 30" key="maps" %}
    {% include lecture.html number=33 date="Wednesday, December 2" key="maps" %}

    {% include deadline.html due="Final Project" date="Friday, December 2, 11:59pm" %}
    <h2>Week 16</h2>

    {% include lecture.html number=26 date="Monday, December 5" key="final" %}
    {% include lecture.html number=27 date="Wednesday, December 7" key="exam2" %}


</div>
